<% if(theme.local_search.enable) { %>
  <span class="local-search local-search-google local-search-plugin" style="<%- theme.local_search.location %>;position:absolute;z-index:2;">
      <input type="search" placeholder="Looking for Something?" id="local-search-input" class="local-search-input-cls" style="<%- theme.local_search.facade %>">
      <div id="local-search-result" class="local-search-result-cls"></div>
  </span>
<% } %>
