<!-- Table of Contents -->
<% if (!index){ %>
  <div id="toc" class="toc-article">
    <strong class="toc-title">Titles</strong>
    <%- toc(post.content) %>
  </div>
<% } %>
<!-- Table of Contents Down-->
