<!-- Header Section Start -->
  <header id="slider-area">
    <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <a class="main-nav-link" href="../index">Home</a>
              <a class="main-nav-link" href="../R/R-index.html">R</a>
              <a class="main-nav-link" href="../Python/P-index.html">Python</a>
              <a class="main-nav-link" href="https://www.yuque.com/liuwenkan/Linux">Linux</a>
              <a class="main-nav-link" href="https://www.yuque.com/liuwenkan/vbip5a">Ptotocol</a>
              <a class="main-nav-link" href="https://www.yuque.com/liuwenkan/add8a6">Notes</a>
              <a class="main-nav-link" href="../Others/O-index.html">Others</a>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Header Section End -->
