/* ==========================================================================
   1. IMPORT GOOGLE FONTS
   ========================================================================== */

/* ==========================================================================
   2. GENERAL
   ========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  color: #546E7A;
  font-size: 14px;
  font-weight: 400;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

p {
  font-size: 14px;
  color: #546E7A;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
}

a:hover, a:focus {
  color: #0066cc;
}

a {
  color: #0066cc;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #263238;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #fff;
}

.bg-transparent {
  background: transparent !important;
}

.bg-defult {
  background: #0066cc !important;
}

/* ==========================================================================
   2.1 Section Title
   ========================================================================== */
.section {
  padding: 10px;
}

.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}

.section-header .section-title {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #263238;
  position: relative;
}

.section-header .section-title:before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 80px;
  height: 2px;
  background: #0066cc;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.section-header span {
  font-size: 60px;
  color: rgba(0, 0, 0, 0.07);
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}


/* ===================================================================
 * # site header
 *
 * ------------------------------------------------------------------- */
 .s-wrap {
  position: relative;
}

.s-header {
  z-index: 100;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 250px;
  background-color: #1b414b;
  padding-top: 120px;
  padding-right: 20px;
  padding-left: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  vertical-align: top;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  font-size: 23px;
}

.dropbtn {
  background-color: #1b414b;
  color: rgb(255, 255, 255);
  border: none;
  left: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 210px;
  z-index: 1;
  max-width: 210px;
}

.dropdown-content a {
  color: black;
  padding: #px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: grey;}

/* ==========================================================================
   2.2 Buttons
   ========================================================================== */
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #0066cc;
  position: relative;
  z-index: 1;
  padding: 12px 32px;
  border-radius: 30px;
}

.btn-common:hover {
  color: #fff;
}

.btn-effect {
  overflow: hidden;
}

.btn-effect:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-effect:hover:after {
  width: 100%;
}

.btn-border {
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-border:hover {
  color: #ffffff;
  background-color: #0066cc;
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}

button:focus {
  outline: none !important;
}

.clear {
  clear: both;
}



/* For English Sentences*/
.dropbtn_E {

  background-color: white;
  text-align: left;

  padding: #px;

  font-size: #px;

  border: none;

}

.drop_En {

  position: relative;
  font-size: 25px;
  display: inline-block;
  background-color: lightgrey;
}

.dropdown_En {

  display: none;
  font-size: 24px;
  position: absolute;

  background-color: lightgrey;

  min-width: #px;

  z-index: 1;

}

.dropdown_En a {

  color: black;

  padding: #px #px;

  text-decoration: none;

  display: block;

}

.dropdown_En a:hover {background-color: white;}

.drop_En:hover .dropdown_En {display: block;}

.drop_En:hover .dropbtn_E {background-color: grey;}


/* ==========================================================================
   Blog 
   ========================================================================== */
.row{
  max-width: 100%;
  
}
.container{
  max-width: 100%;
  padding-left: 280px;
}

.wrapper{
  width:300px;
  padding:3px;
}
.blog-item-wrapper {
  max-width:310px;
  min-width:310px;
  float: left;
  background: #fff;
  border-radius: 3px; /*圆角*/
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.blog-item-wrapper:hover {
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
  -webkit-transform: translateY(-50px); /*悬停动画*/
  transform: translateY(-10px);
}

.blog-item-wrapper:hover .blog-item-img:before {
  opacity: 1;
}

.blog-item-img {
  position: relative;
  width: 300px;
}

.blog-item-img img { /*图片*/
  width: 310px;
}

.blog-item-text {
  padding: 10px 30px;
}

.blog-item-text .date {
  font-size: 14px;
  margin-bottom: 10px;
}

.blog-item-text .date i {
  margin-right: 7px;
}

.blog-item-text h3 {
  line-height: 26px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.blog-item-text h3 a {
  color: #263238;
}

.blog-item-text h3 a:hover {
  color: #0066cc;
}

.meta-tags {
  margin-bottom: 10px;
}

.meta-tags span {
  color: #999;
  font-size: 14px;
  margin-right: 10px;
}

.meta-tags span i {
  margin-right: 5px;
}

.meta-tags span a {
  color: #999;
}

.meta-tags span a:hover {
  color: #0066cc;
}



/* ==========================================================================
   parper 
   ========================================================================== */
.body-main{
  color: teal;
  font-size: 18px;
}

.Terminal{
  max-width: 900px;
  background-color: black;
  color: #ffffff;
  padding-left: 10px;
  font-size: large;
  font-size: 20px;
  font-family: monospace;
  border-radius: 5px 5px 0px 0px; 
}

.code{
  max-width:  900px;
  background-color: rgb(65, 65, 65);
  color: rgb(0, 205, 0);
  padding-left: 5px;
  font-family: monospace;
  font-size: 18px;
  border-radius: 0px 0px 10px 10px; 
}

.post{
  font-size: 20px;
  line-height:35px;
}

.post-s{
  font-size: 20px;
  line-height:35px;
  font-style: italic;
}



/* ==========================================================================
   Other model 
   ========================================================================== */


.Paper-box{
  padding: 5px;

}
.Paper-item-wrapper {
  padding: 0px;
  max-width: 100%;
  min-width:100%;
  min-height:206px;
  background: rgb(234, 240, 243);
  border-radius: 10px; /*圆角*/
  border: solid;
  border-color: rgb(65, 118, 148);
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.Paper-item-wrapper:hover {
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
  -webkit-transform: translateY(-50px); /*悬停动画*/
  transform: translateX(-15px);

}

.Paper-item-wrapper:hover .blog-item-img:before {
  opacity: 1;
}

.Paper-item-img{
  width: 200px;
  height: 200px;
  border-radius: 10px 0px 0px 10px; 
  float: left;
  margin: auto;  
}

.Paper-item-text {
  padding-top: 50px;
  padding-left:  220px;
  padding-right:  10%;
}

.Paper-item-text h3 {
  line-height: 25px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align : left ;
}

.Paper-item-text h3 a {
  color: #263238;
}

.Paper-item-text h3 a:hover {
  color: #0066cc;
}

.Paper-item-text date {
  color: #263238;
  font-size: 14px;
  line-height: 20px;
  float: left;
  padding-left: 10px;
}

.Paper-item-text p {
  line-height: 24px;
  color: #263238;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align : left ;
  padding-top: 3px;
}